/interface/infvmmci/{{ tgt_db | upper }}/outgoing
/interface/infvmmci/{{ tgt_db | upper }}/incoming
/interface/infvmmci/{{ tgt_db | upper }}/archive
/interface/infvmmci/{{ tgt_db | upper }}/mobile_warehouse
/interface/infvmmci/{{ tgt_db | upper }}/mobile_warehouse/backup
/interface/infvmmci/{{ tgt_db | upper }}/archive
/interface/infvmmci/{{ tgt_db | upper }}/YVMH/incoming
/interface/infvmmci/{{ tgt_db | upper }}/YVMH/outgoing
/interface/infvmmci/{{ tgt_db | upper }}/YVMH/archive
