#!/bin/bash
#source ~/.bash_profile

#if [ -f ~/.profile ]; then
. ~/.profile
#elif [ -f ~/.bash_profile ]; then
#. ~/.bash_profile
#echo ""
#fi


. {{ app_tgt_mount }}/EBSapps.env RUN

cd $EBS_APPS_DEPLOYMENT_DIR/oacore/html/WEB-INF/classes

mv _pages _pages1
mkdir _pages
rm -rf _pages1 &
cd $FND_TOP/patch/115/bin/
perl $FND_TOP/patch/115/bin/ojspCompile.pl --compile --flush -p 12
