
[Base]

s_base={{ app_tgt_mount }}
s_current_base={{ app_tgt_mount }}/{{ current_base }}
s_other_base={{ app_tgt_mount }}/{{ patch_base }}
s_ne_base={{ app_tgt_mount }}/fs_ne


[General]

s_applptmp=/interface/infvmmci/{{ tgt_env|upper }}/outgoing
s_appsgroup=dba
s_appsuser=applmgr
s_dbuser=oracle
s_dbgroup=dba
s_dbdomain=internal.vmmc.org
s_at={{ app_tgt_mount }}/{{ current_base }}/EBSapps/appl
s_com={{ app_tgt_mount }}/{{ current_base }}/EBSapps/comn
s_tools_oh={{ app_tgt_mount }}/{{ current_base }}/EBSapps/10.1.2
s_weboh_oh={{ app_tgt_mount }}/{{ current_base }}/FMW_Home/webtier
s_fmw_home={{ app_tgt_mount }}/{{ current_base }}/FMW_Home
s_dbGlnam={{ tgt_env }}
s_dbSid={{ tgt_env }}
s_dbhost={{ tgt_db_node }}
s_clonestage={{ app_tgt_mount }}/{{ current_base }}/EBSapps/comn/clone
s_dbport=1570
s_options_symlinks=Options -FollowSymLinks
s_proxyhost=
s_proxybypassdomain=internal.vmmc.org
s_proxyport=80
s_nonproxyhosts=

s_javamailer_imap_user={{ tgt_env }}_erpwftest@commonspirit.org
s_javamailer_imapdomainname=gmail.com
s_javamailer_imaphost=imap
s_javamailer_reply_to={{ tgt_env }}_erpwftest@commonspirit.org
s_javamailer_outbound_user={{ tgt_env }}_erpwftest@commonspirit.org
s_wf_admin_role=*

s_smtphost=mailhub
s_smtpdomainname=vmmc.org
s_file_edition_type=run
s_port_pool={{ port_pool }}
patch_s_port_pool={{ patch_port_pool }}
s_admhost={{ tgt_app_node }}
s_atName={{ tgt_app_node }}
s_shared_file_system=true


[Web Entry Point Configuration]

s_webentryurlprotocol=https
s_webentryhost=vmetestextapp
s_webentrydomain=virginiamason.org
s_active_webport=80{{ port_pool }}
s_endUserMonitoringURL=https://vmetestextapp.virgniamason.org:443/oracle_smp_chronos/oracle_smp_chronos_sdk.gif
s_external_url=https://vmetestextapp.virginiamason.org:443
s_login_page=https://vmetestextapp.virginiamason.org:443/OA_HTML/AppsLogin




[Instance Specific]

# Please provide values for the context variables listed below. On the source
# instance they are instantiated as shown in the comment section below.
# These values should only be used as reference to fill out the instance
# values for the new node.



s_temp={{ app_tgt_mount }}/{{ current_base }}/inst/apps/etest_etestextapp/temp
s_contextname={{ tgt_env }}_etestextapp
s_hostname=etestextapp
s_domainname=internal.vmmc.org
s_cphost={{ tgt_app_node }}
s_webhost=etestextapp
s_config_home={{ app_tgt_mount }}/{{ current_base }}/inst/apps/etest_etestextapp
s_inst_base={{ app_tgt_mount }}
s_display=localhost:0.0
s_forms-c4ws_display=etestextapp:0.0
s_ohs_instance=EBS_web_OHS2
s_webport=8049
s_http_listen_parameter=8049
s_https_listen_parameter=4492

[Services]


[Services To be Enabled on the Secondary Application Tier Node]

s_web_applications_status=enabled
s_web_entry_status=enabled
s_apcstatus=enabled
s_root_status=enabled
s_batch_status=disabled
s_other_service_group_status=enabled
s_adminserverstatus=disabled
s_web_admin_status=disabled


# Additional variables can be added below as per your requirement.
