#!/bin/bash
source ~/.profile
touch {{ tgt_dir }}/ofa_{{ tgt_env }}_db_stop.log
exec 1> {{ tgt_dir }}/ofa_{{ tgt_env }}_db_stop.log 2>&1

export L_DBCONTEXT_NAME={{ tgt_env }}_`hostname -a`
export ORACLE_HOME={{ tgt_oracle_home }}
export L_ORACLEHOME={{ tgt_oracle_home }}
export L_DBSRV=`hostname -a`
export L_ORACLESID={{ tgt_db }}

. $L_ORACLEHOME/${L_DBCONTEXT_NAME}.env
. {{ tgt_oracle_home }}/{{ tgt_db | lower }}_{{ tgt_db_node }}.env


sqlplus -s / as sysdba << EOF
ALTER PLUGGABLE DATABASE ALL save state;
ALTER PLUGGABLE DATABASE ALL CLOSE IMMEDIATE;
shutdown immediate;
exit
EOF

$ORACLE_HOME/appsutil/scripts/{{ tgt_env }}_{{ tgt_db_node }}/addlnctl.sh stop {{ tgt_db }}
