DECLARE
stat boolean;
BEGIN
dbms_output.disable;
dbms_output.enable(100000);
stat := FND_PROFILE.SAVE('SiteName', 'VMMC - DTEST (Copy of EPROD from MMMM DD,YYYY)', 'SITE');
stat := FND_PROFILE.SAVE('UTL_FILE', '/interface/infvmmci/DTEST/outgoing', 'SITE');
stat := FND_PROFILE.SAVE('INBOUND_DATA_FILE', '/interface/infvmmci/DTEST/incoming', 'SITE');
stat := FND_PROFILE.SAVE('BNE_REDIRECT_PORTAL', 'http://dtestapp.internal.vmmc.org:8015/pls/PVMMCI/OracleNavigate.Responsibility',
'SITE');
stat := FND_PROFILE.SAVE('BNE_SERVER_LOG_PATH', ' /u02/oracle/dtest/fs_ne/EBSapps/appl/bne/log', 'SITE');
stat := FND_PROFILE.SAVE('BNE_UIX_PHYSICAL_DIRECTORY', '/u02/oracle/dtest/fs1/FMW_Home/Oracle_EBS-
app1/applications/oacore/html/cabo/', 'SITE');
stat := FND_PROFILE.SAVE('BNE_UPLOAD_IMPORT_DIRECTORY', ' /u02/oracle/dtest/fs_ne/EBSapps/appl/bne/upload', 'SITE');
stat := FND_PROFILE.SAVE('BNE_UPLOAD_STAGING_DIRECTORY', '/u02/oracle/dtest/fs_ne/EBSapps/appl/bne/upload', 'SITE');
stat := FND_PROFILE.SAVE('BNE_UPLOAD_TEXT_DIRECTORY', '/u02/oracle/dtest/fs_ne/EBSapps/appl/bne/upload', 'SITE');
stat := FND_PROFILE.SAVE('ECE_IN_FILE_PATH', '/interface/infvmmci/DTEST/incoming', 'SITE');
stat := FND_PROFILE.SAVE('ECE_IN_FILE_PATH', '/interface/infvmmci/DTEST/YVMH/incoming', 'RESP', '51852', '175');
stat := FND_PROFILE.SAVE('ECE_OUT_FILE_PATH', '/interface/infvmmci/DTEST/outgoing', 'SITE');
stat := FND_PROFILE.SAVE('ECE_OUT_FILE_PATH', '/interface/infvmmci/DTEST/YVMH/outgoing', 'RESP', '51852', '175');
stat := FND_PROFILE.SAVE('ICX_DISCOVERER_PARAMETERS','exitURL=http://dtestapp.internal.vmmc.org:8015/OA_HTML/OA.jsp?OAFunc=OAHOMEPAGE', 'SITE');
stat := FND_PROFILE.SAVE('JTF_UM_APPROVAL_URL', 'http://dtestapp.internal.vmmc.org:8015', 'SITE');
stat := FND_PROFILE.SAVE('FND_DIAGNOSTICS', 'Yes', 'SITE');
stat := FND_PROFILE.SAVE('FND_PERZ_DOC_ROOT_PATH', '/interface/infvmmci/dtest/incoming', 'SITE');
stat := FND_PROFILE.SAVE('BIS_DEBUG_LOG_DIRECTORY', '/interface/infvmmci/dtest/tmp', 'SITE');
stat := FND_PROFILE.SAVE('XNC_DEBUG_LOG_DIRECTORY', '/u02/oracle/dtest/fs1/EBSapps/comn/admin/log/', 'SITE');
stat := FND_PROFILE.SAVE('BIS_DEBUG_LOG_DIRECTORY', '/interface/infvmmci/dtest/tmp', 'SITE');
stat := FND_PROFILE.SAVE('HZ_API_DEBUG_FILE_PATH', '/interface/infvmmci/dtest/outgoing', 'SITE');
stat := FND_PROFILE.SAVE('PA_DEBUG_LOG_DIRECTORY', '/interface/infvmmci/dtest/outgoing', 'SITE');
stat := FND_PROFILE.SAVE('TAX_DEBUG_FILE_LOCATION', '/interface/infvmmci/dtest/outgoing', 'SITE');
stat := FND_PROFILE.SAVE('JTF_DEBUG_LOG_DIRECTORY', '/interface/infvmmci/dtest/outgoing', 'SITE');
stat := FND_PROFILE.SAVE('GL_DEBUG_LOG_DIRECTORY', '/interface/infvmmci/dtest/outgoing', 'SITE');
stat := FND_PROFILE.SAVE('GL_JAHE_DB_HOST', 'dtestdb.internal.vmmc.org', 'SITE');
stat := FND_PROFILE.SAVE('GL_JAHE_DB_PORT', '1536', 'SITE');
stat := FND_PROFILE.SAVE('ECX_UTL_LOG_DIR', '/interface/infvmmci/dtest/tmp', 'SITE');
stat := FND_PROFILE.SAVE('ECX_UTL_XSLT_DIR', '/interface/infvmmci/dtest/tmp', 'SITE');
stat := FND_PROFILE.SAVE('ABM_SERVER_HOST', 'dtestapp.internal.vmmc.org', 'SITE');
stat := FND_PROFILE.SAVE('IBY_XDO_DELIVERY_CFG_FILE', '/u02/oracle/dtest/fs_ne/EBSapps/appl/xdo/resource/xdodelivery.cfg', 'SITE');
stat := FND_PROFILE.SAVE('IBY_XML_TEMP', '/u02/oracle/dtest/fs1/inst/apps/dtest_dtestapp/appltmp', 'SITE');
stat := FND_PROFILE.SAVE('IBY_ECAPP_URL', 'http://dtestapp.internal.vmmc.org:8066/OA_HTML/ibyecapp', 'SITE');
stat := FND_PROFILE.SAVE('ICX_PAY_SERVER', 'http://dtestapp.internal.vmmc.org:8015/OA_HTML/ibyecapp', 'SITE');
stat := FND_PROFILE.SAVE('POR_CACERT_FILE_NAME','/u02/oracle/dtest/fs1/EBSapps/10.1.2/sysman/config/b64InternetCertificate.txt', 'SITE');
stat := FND_PROFILE.SAVE('EDW_LOGFILE_DIR','/interface/infvmmci/DTEST/outgoing', 'SITE');
stat := FND_PROFILE.SAVE('FND_COLOR_SCHEME', 'TITANIUM', 'SITE');
IF stat THEN
dbms_output.put_line( 'Stat = TRUE - profile updated' );
ELSE
dbms_output.put_line( 'Stat = FALSE - profile NOT updated' );
END IF;
commit;
END;