from,10065,Workflow Mailer ({{tgt_env}})
inbound_server_name,10069,imap.gmail.com
outbound_server_name,10079,
outbound_user,10307,{{ tgt_env }}_erpwftest@commonspirit.org
reply_to_address,10089,{{ tgt_env }}_erpwftest@commonspirit.org
inbound_username,10054,{{ tgt_env }}_erpwftest@commonspirit.org
